.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}

.navIcons > a > img {
  width: 1.5rem;
  height: 1.5rem;
}

.r-btn {
  height: 3rem;
  width: 80%;
  align-self: center;
}
